body {
    font-family: 'Inter', sans-serif;
}

#shopList li,
#selectedItems li {
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#shopList li:hover {
    background-color: #f0f0f0;
}

#selectedItems li {
    background-color: #e0f7fa;
    margin-bottom: 5px;
    border-radius: 4px;
}
